<div class="modal-header">
    <h3>Update selected Application for destination</h3>
    <label class="c8y-switch" style="margin-top: 10px;margin-bottom: -10px;">
        <input type="checkbox" [ngModel]="showAll$ | async" (ngModelChange)="showAll$.next($event)" />
        <span></span> Show all applications
    </label>
</div>
<div class="modal-body">
    <c8y-data-grid class="full-modal scroll-column disable-bulk-selection" [title]="'Applications' | translate"
        [columns]="columns" [rows]="filteredApplications" [pagination]="pagination" [selectable]="true"
        [bulkActionControls]="[]" [actionControls]="actionControls" (itemsSelect)="onEntriesSelected($event)">

        <c8y-column name="name">
            <ng-container *c8yCellRendererDef="let context">
                {{ getName(context.value) }}
            </ng-container>
        </c8y-column>
    </c8y-data-grid>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!isEntrySelected()" (click)="close()">Ok</button>
    <button type="button" class="btn btn-default" (click)="close(false)">Cancel</button>
</div>