<div class="modal fade" tabindex="-1" bsModal #modal="bs-modal"
     role="dialog" aria-labelledby="dialog-events-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Devices</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="close(false)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body overflow-auto" style="max-height: calc(100vh - 230px); min-height: 300px;">
                <table class="table table-hover" *ngIf="allDevices | async as devices">
                    <tr>
                        <th></th>
                        <th translate>Id</th>
                        <th translate>Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let device of devices; trackBy: trackById" (click)="toggleSelection(device)" [class.info]="isSelected(device)">
                        <td><input type="checkbox" [checked]="isSelected(device)"/></td>
                        <td>{{device.id}}</td>
                        <td>{{getName(device)}}</td>
                        <td><button class="btn btn-default" (click)="viewDeviceManagement($event, device)" translate>DeviceManagement</button></td>
                        <td><button class="btn btn-default" (click)="viewCockpit($event, device)" translate>Cockpit</button></td>
                        <td><button class="btn btn-default" (click)="viewManagedObject($event, device)" translate>ManagedObject</button></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="close()">Ok</button>
                <button type="button" class="btn btn-default" (click)="close(false)">Cancel</button>
            </div>
        </div>
    </div>
</div>