<c8y-title translate>Source Connection Details</c8y-title>

<div class="container" *ngIf="connectionDetails$ | async as connectionDetails">
    <div class="row">
        <div class="col-xs-12">
            <select class="form-control" [(ngModel)]="connectionDetails.type" (ngModelChange)="changeConnectionType(connectionDetails)">
                <option value="currentTenant">Current Tenant</option>
                <option value="tenant">Other Tenant</option>
                <option value="file">File</option>
            </select>
        </div>
    </div>
    <ng-container [ngSwitch]="connectionDetails.type">
        <ng-container *ngSwitchCase="'tenant'">
            <mt-tenantlogin [username]="connectionDetails.credentials.user" [password]="connectionDetails.credentials.password" [baseUrl]="connectionDetails.baseUrl" (onChange)="save($event)"></mt-tenantlogin>

            <c8y-action-bar-item [placement]="'right'">
                <button class="btn btn-link" style="margin-top: 5px;" (click)="checkConnection(connection_error, connectionDetails)">
                    <i class="fa fa-check-circle-o"></i> {{'Check connection' | translate}}
                </button>
            </c8y-action-bar-item>

            <ng-template #connection_error>
                <h4 class="alert-heading">Cannot access the server</h4>
                <br/>
                The cause may be one of the following: <br/>
                <ul>
                    <li>The server is not responding</li>
                    <li>Credentials are incorrect</li>
                    <li>CORS is not setup on the server</li>
                </ul>
                <br/>
                To fix the CORS errors:<br/>
                Temporarily set <a [href]="connectionDetails.baseUrl + '/apps/administration/index.html#/applicationsettings'" target="_blank">Access control, Allowed Domain</a> to <code>*</code> (Requires tenant Admin access)<br/>
            </ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="'currentTenant'">
            <mt-tenantlogin [username]="currentUser?.userName" password="********" [baseUrl]="currentTenantUrl" disabled="true"></mt-tenantlogin>

            <c8y-action-bar-item [placement]="'right'">
                <button class="btn btn-link" style="margin-top: 5px;" (click)="checkConnection(connection_error, connectionDetails)">
                    <i class="fa fa-check-circle-o"></i> {{'Check connection' | translate}}
                </button>
            </c8y-action-bar-item>

            <ng-template #connection_error>
                <h4 class="alert-heading">Cannot access the server</h4>
                <br/>
                The cause may be one of the following: <br/>
                <ul>
                    <li>The server is not responding</li>
                </ul>
            </ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="'file'">
            <div class="row">
                <div class="col-xs-3"><label>File</label></div><div class="col-xs-9"><input class="form-control" type="file" (change)="onFileChange(connectionDetails, $event)"/></div>
            </div>

            <c8y-action-bar-item [placement]="'right'">
                <button class="btn btn-link" style="margin-top: 5px;" (click)="checkConnection(connection_error, connectionDetails)">
                    <i class="fa fa-check-circle-o"></i> {{'Check connection' | translate}}
                </button>
            </c8y-action-bar-item>

            <ng-template #connection_error>
                <h4 class="alert-heading">Cannot access the server</h4>
                <br/>
                The cause may be one of the following: <br/>
                <ul>
                    <li>The server is not responding</li>
                </ul>
            </ng-template>
        </ng-container>
    </ng-container>
</div>
