<c8y-title translate>Source Connection Details</c8y-title>

<div class="card col-lg-6" *ngIf="connectionDetails$ | async as connectionDetails">
    <div class="card-block" style="min-height: 224px;">
        <div class="row m-b-16">
            <div class="col-xs-12">
                <select class="form-control" [(ngModel)]="connectionDetails.type"
                    (ngModelChange)="changeConnectionType(connectionDetails)">
                    <option value="currentTenant">Current Tenant</option>
                    <option value="tenant">Other Tenant</option>
                    <option value="file">File</option>
                </select>
            </div>
        </div>
        <ng-container [ngSwitch]="connectionDetails.type">
            <ng-container *ngSwitchCase="'tenant'">
                <mt-tenantlogin [username]="connectionDetails.credentials.user"
                    [password]="connectionDetails.credentials.password" [baseUrl]="connectionDetails.baseUrl"
                    (onChange)="save($event)"></mt-tenantlogin>
            </ng-container>
            <ng-container *ngSwitchCase="'currentTenant'">
                <mt-tenantlogin [username]="currentUser?.userName" password="********" [baseUrl]="currentTenantUrl"
                    disabled="true"></mt-tenantlogin>
            </ng-container>
            <ng-container *ngSwitchCase="'file'">
                <div class="row">
                    <div class="col-xs-3"><label>File</label></div>
                    <div class="col-xs-9"><input class="form-control" type="file"
                            (change)="onFileChange(connectionDetails, $event)" /></div>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="card-footer separator d-flex j-c-end">
        <button class="btn btn-primary" (click)="checkConnection(connectionDetails)">{{'Check
            connection' | translate}}</button>
    </div>
</div>