<c8y-title translate>Other ManagedObjects</c8y-title>

<c8y-data-grid class="full-screen scroll-column" [title]="'Managed Objects' | translate" [columns]="columns" [rows]="allOtherManagedObjects"
    [pagination]="pagination" [selectable]="true" [bulkActionControls]="[]" [actionControls]="actionControls"
    (itemsSelect)="onManagedObjectsSelected($event)">

    <c8y-column name="name">
        <ng-container *c8yCellRendererDef="let context">
            {{ getName(context.value) }}
        </ng-container>
    </c8y-column>

</c8y-data-grid>