<c8y-title translate>Migration Tool</c8y-title>
    <div class="card">
        <div class="card-header-actions">
            <div class="card-title">OVERVIEW</div>
        </div>
        <div class="card-block">
            <p>The Migration Tool allows you to migrate web applications, dashboard, groups, devices, simulators, and smart rules from one tenant to another.</p>
            <br/>
            <p>After recreating all of the Managed Objects any linkages will also be recreated.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header-actions">
            <div class="card-title">QUICKSTART</div>
        </div>
        <div class="card-block">
            <ol>
                <li>Click the <code>Source</code> folder in the navigator</li>
                <li>Select <code>Other Tenant</code>, and enter the login details</li>
                <li>Select any objects you want to migrate</li>
                <li>Click the <code>Destination</code> folder in the navigator</li>
                <li>Select <code>Current Tenant</code>, and enter the login details</li>
                <li>Click <code>Migrate...</code> in the navigator</li>
                <li>Make any edits to the objects</li>
                <li>Click <code>Execute Migration</code> in the action bar</li>
            </ol>
        </div>
    </div>
    <div class="card">
        <div class="card-header-actions">
            <div class="card-title">Help</div>
        </div>
        <div class="card-block">
            <p>Detailed instructions, FAQ, and issues can be found on <a href="https://github.com/SoftwareAG/cumulocity-migration-tool">Github</a>.</p>
            <br/>
            <p>You can also contact us at: <a href = "mailto:democenter@softwareag.com?subject=Migration%20Tool%20Feedback">democenter@softwareag.com</a></p>
        </div>
    </div>
<div class="version">Version: {{version}}</div>