<c8y-title translate>Migration Tool</c8y-title>
<div class="card">
    <div class="card-header separator">
        OVERVIEW
    </div>
    <div class="card-block">
        <p>The Migration Tool allows you to migrate web applications, dashboard, groups, devices, simulators, and smart
            rules from one tenant to another.</p>
        <br />
        <p>After recreating all of the Managed Objects any linkages will also be recreated.</p>
    </div>
</div>
<div class="card">
    <div class="card-header separator">
        QUICKSTART
    </div>
    <div class="card-block">
        <ol>
            <li>Click the <code>Source</code> folder in the navigator</li>
            <li>Select <code>Other Tenant</code>, and enter the login details</li>
            <li>Select any objects you want to migrate</li>
            <li>Click the <code>Destination</code> folder in the navigator</li>
            <li>Select <code>Current Tenant</code>, and enter the login details</li>
            <li>Click <code>Migrate...</code> in the navigator</li>
            <li>Make any edits to the objects</li>
            <li>Click <code>Execute Migration</code> in the action bar</li>
        </ol>
    </div>
</div>
<div class="card">
    <div class="card-header separator">
        HELP
    </div>
    <div class="card-block">
        Our <a href="https://github.com/SoftwareAG/cumulocity-migration-tool">Github</a> contains:
        <ul>
            <li><a href="https://github.com/SoftwareAG/cumulocity-migration-tool/releases">Latest Version</a></li>
            <li><a href="https://github.com/SoftwareAG/cumulocity-migration-tool/">Detailed Instructions</a></li>
            <li><a
                    href="https://github.com/SoftwareAG/cumulocity-migration-tool/wiki/Frequently-Asked-Questions">FAQ</a>
            </li>
            <li><a href="https://github.com/SoftwareAG/cumulocity-migration-tool/issues">Issues</a></li>
        </ul>
        You can also contact us at: <a
            href="mailto:ask_democenter@softwareag.com?subject=Migration%20Tool%20Feedback">ask_democenter@softwareag.com</a>
    </div>
</div>
<div class="version">Version: {{version}}</div>