<c8y-title translate>Applications</c8y-title>
<c8y-action-bar-item [placement]="'left'">
    <label class="c8y-switch" style="margin-top: 10px">
        <input type="checkbox" [ngModel]="showAll$ | async" (ngModelChange)="showAll$.next($event)" />
        <span></span> Show All
    </label>
</c8y-action-bar-item>

<c8y-data-grid class="full-screen scroll-column disable-bulk-selection" [title]="'Applications' | translate" [columns]="columns"
    [rows]="filteredApplications" [pagination]="pagination" [selectable]="true" [bulkActionControls]="[]"
    [actionControls]="actionControls" (itemsSelect)="onApplicationsSelected($event)">

    <c8y-column name="binaryId">
        <ng-container *c8yCellRendererDef="let context">
            {{ context.value?.id }}
        </ng-container>
    </c8y-column>

    <c8y-column name="size">
        <ng-container *c8yCellRendererDef="let context">
            {{ context.value?.length | fileSize }}
        </ng-container>
    </c8y-column>

</c8y-data-grid>