<div class="modal fade" tabindex="-1" bsModal #modal="bs-modal"
     role="dialog" aria-labelledby="dialog-events-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Dashboards</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="close(false)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body overflow-auto" style="max-height: calc(100vh - 230px); min-height: 300px;">
                <table class="table table-hover" *ngIf="allDashboards | async as dashboards">
                    <tr>
                        <th></th>
                        <th translate>Id</th>
                        <th translate>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let dashboard of dashboards; trackBy: trackById" (click)="toggleSelection(dashboard)" [class.info]="isSelected(dashboard)">
                        <td><input type="checkbox" [checked]="isSelected(dashboard)"/></td>
                        <td>{{dashboard.id}}</td>
                        <td>{{getDashboardName(dashboard)}}</td>
                        <td><button class="btn btn-default" *ngIf="getDashboardUrl(dashboard)" (click)="openDashboard($event, dashboard)" target="_blank">Cockpit</button></td>
                        <td><button class="btn btn-default" (click)="viewManagedObject($event, dashboard)" translate>ManagedObject</button></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="close()">Ok</button>
                <button type="button" class="btn btn-default" (click)="close(false)">Cancel</button>
            </div>
        </div>
    </div>
</div>