<div class="modal-header">
    <h3>Update selected dashboard for destination</h3>
</div>
<div class="modal-body">
    <c8y-data-grid class="full-modal scroll-column" [title]="'Dashboards' | translate" [columns]="columns"
        [rows]="allDashboards" [pagination]="pagination" [selectable]="true" [bulkActionControls]="[]"
        [actionControls]="actionControls" (itemsSelect)="onDashboardsSelected($event)">

        <c8y-column name="name">
            <ng-container *c8yCellRendererDef="let context">
                {{ getDashboardName(context.item) }}
            </ng-container>
        </c8y-column>
    </c8y-data-grid>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!isDashboardSelected()" (click)="close()">Ok</button>
    <button type="button" class="btn btn-default" (click)="close(false)">Cancel</button>
</div>