<c8y-title translate>Simulators</c8y-title>
<c8y-action-bar-item [placement]="'right'">
    <button class="btn btn-link" style="margin-top: 5px;" (click)="reload()">
        <i class="fa fa-refresh"></i> {{'Reload' | translate}}
    </button>
</c8y-action-bar-item>
<table class="table table-hover" *ngIf="allSimulators | async as managedObjects">
    <tr>
        <th></th>
        <th translate>Id</th>
        <th translate>Name</th>
        <th translate>Owner</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let managedObject of managedObjects; trackBy: trackById" (click)="toggleSelection(managedObject)" [class.info]="isSelected(managedObject)">
        <td><input type="checkbox" [checked]="isSelected(managedObject)"/></td>
        <td>{{managedObject.id}}</td>
        <td>{{getName(managedObject)}}</td>
        <td>{{managedObject.owner}}</td>
        <td><button class="btn btn-default" (click)="viewSimulator($event, managedObject)" translate>DeviceManagement</button></td>
        <td><button class="btn btn-default" (click)="viewManagedObject($event, managedObject)" translate>ManagedObject</button></td>
    </tr>
</table>