<div class="modal-header">
    <h3>Update selected binary for destination</h3>
</div>
<div class="modal-body">
    <c8y-data-grid class="full-modal scroll-column disable-bulk-selection" [title]="'Binaries' | translate" [columns]="columns"
        [rows]="allBinaries" [pagination]="pagination" [selectable]="true" [bulkActionControls]="[]"
        [actionControls]="actionControls" (itemsSelect)="onEntriesSelected($event)">
    </c8y-data-grid>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!isEntrySelected()" (click)="close()">Ok</button>
    <button type="button" class="btn btn-default" (click)="close(false)">Cancel</button>
</div>